[submodule "libs/cimgui"]
	path = libs/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "libs/cimspinner"]
	path = libs/cimspinner
	url = https://github.com/dinau/cimspinner
[submodule "libs/cimgui-knobs"]
	path = libs/cimgui-knobs
	url = https://github.com/dinau/cimgui-knobs
[submodule "libs/cimgui_toggle"]
	path = libs/cimgui_toggle
	url = https://github.com/dinau/cimgui_toggle
[submodule "libs/cimCTE"]
	path = libs/cimCTE
	url = https://github.com/cimgui/cimCTE
[submodule "libs/cimguizmo"]
	path = libs/cimguizmo
	url = https://github.com/cimgui/cimguizmo
[submodule "libs/cimnodes"]
	path = libs/cimnodes
	url = https://github.com/cimgui/cimnodes
[submodule "libs/CImGuiFileDialog"]
	path = libs/CImGuiFileDialog
	url = https://github.com/dinau/CImGuiFileDialog
