*.zig linguist-language=Zig
*.c linguist-vendored
*.h linguist-vendored
*.cpp linguist-vendored
*.hpp linguist-vendored
*.nim linguist-vendored
*.zig linguist-vendored
*.nelua linguist-language=Nelua
