*.nelua linguist-language=Nelua

Makefile linguist-vendored
*.mk linguist-vendored
*.lua linguist-vendored
**/*.lua linguist-vendored
*.c linguist-vendored
*.h linguist-vendored
*.cpp linguist-vendored
*.hpp linguist-vendored
*.nim linguist-vendored
*.zig linguist-vendored
*.rb linguist-vendored
*.bat linguist-vendored
**/*.bat linguist-vendored
*.cmd linguist-vendored
**/*.cmd linguist-vendored
