*.nelua linguist-language=Nelua

*.lua linguist-vendored
*.zig linguist-language=Zig
*.c linguist-vendored
*.h linguist-vendored
*.cpp linguist-vendored
*.hpp linguist-vendored
*.nim linguist-vendored
*.zig linguist-vendored
*.rb linguist-vendored
*.bat linguist-vendored
Makefile linguist-vendored
*.mk linguist-vendored
